<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card border-0 shadow-sm mb-3" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img
            src="https://avatars0.githubusercontent.com/u/8118710?s=460&u=536b69e1851e9352fb7a978c4cc8f5a2e2bbeb59&v=4"
            class="card-img-top rounded-circle w-75 mt-3" alt="Imagem de perfil" />
        </div>

        <div class="card-body">
          <h5 class="card-title text-center">Gabriel Silva Lima</h5>
          <p class="card-text text-center">
            Estudante de front e back-end.
          </p>
          <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/limmagabriel/" class="btn btn-outline-info"
              target="_blank">LinkedIn</a>
            <a href="https://github.com/bielzin42" class="btn btn-outline-dark ml-2" target="_blank">GitHub</a>
          </div>
          <hr class="mt-4 mb-4" />
          <h6 class="mb-3 text-monospace text-center">Pesquisar por título</h6>
          <div class="w-100 d-flex justify-content-center">
            <input type="text" class="form-control mb-3 w-60 mr-1" placeholder="Pesquisar postagem..." />
            <button class="btn btn-outline-success botaohei">ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div>
        <h3 class="text-center mb-4 text-monospace">
          Como tem sido minha experiência na Generation?
        </h3>

        <div class="form-group">
          <label for="titulo" class="text-monospace">Título:</label>
          <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite o título da postagem..."
            [(ngModel)]="postagem.titulo" />
        </div>
        <div class="form-group">
          <label for="texto" class="text-monospace">Texto:</label>
          <textarea name="texto" id="texto" cols="30" rows="5" class="form-control"
            placeholder="Digite o texto da postagem..." [(ngModel)]="postagem.texto"></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn btn-outline-info w-25" (click)="publicar()">
            Publicar
          </button>
        </div>

        <hr class="mt-5 mb-5" />

        <h3 class="text-monospace text-center mb-4">Minhas postagens</h3>

        <div class="card mb-4" *ngFor='let postagem of listaPostagens'>
          <div class="card-header">
            <h5 class="card-title">{{ postagem.titulo }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text"> {{ postagem.texto }} </p>
            <small class="form-text m-0 text-muted mb-3 text-monospace"> Postado em
              {{ postagem.data | date: 'dd/MM/yyyy'}} às {{ postagem.data | date: 'HH:mm'}} </small>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>